---
import { executeQuery } from '../lib/datocms.js'

// SumUp configuration
const returnUrl = 'https://forrodacapita.vercel.app'

// Use a random string for unique IDs (Astro does not have generateUniqueId)
const uniqueId = "410fc44a-5956-44e1-b5cc-19c6f8d727a4"
const donateBtnId = `donate-btn-${uniqueId}`
const sumupModalId = `sumup-modal-${uniqueId}`
const sumupWidgetId = `sumup-widget-${uniqueId}`

const { paypal } = (await executeQuery(
  `query { paypaltooltip { tooltiptext } }`
)) as {
  paypal?: { tooltiptext: string }
}
const tooltipText =
  paypal?.tooltiptext || 'Donate or pay for your drinks with SumUp'
---

<!-- Donate Button with Tippy.js Tooltip -->
<form
  action="https://www.paypal.com/cgi-bin/webscr"
  method="post"
  target="_top"
  style="display: inline;"
>
  <input type="hidden" name="cmd" value="_donations" />
  <input type="hidden" name="business" value="forrodacapitaev@gmx.de" />
  <input type="hidden" name="item_name" value="Donation to Forró da Capita" />
  <input type="hidden" name="currency_code" value="EUR" />
  <input type="hidden" name="no_shipping" value="1" />
  <input type="hidden" name="no_note" value="1" />
  <input type="hidden" name="return" value="https://forrodacapita.vercel.app" />

  <button
    id={donateBtnId}
    type="submit"
    class="text-menu-large font-menu uppercase tracking-wider transition duration-600 ease-in-out golden-glow cursor-pointer"
    tabindex="0"
    data-tippy-content={tooltipText}
    data-tippy-placement="auto"
  >
    Donate
  </button>
</form>


</div>
