---
import { marked } from 'marked'
import { twMerge } from 'tailwind-merge'
import { executeQuery } from '../lib/datocms.js'
import BoxIcon from './Icon_Box.astro'
import Slider from './SplideSlider.astro'

interface Props {
  ContainerClasses?: string
  TextClasses?: string
  HeadingClasses?: string
}

const {
  ContainerClasses = '',
  TextClasses = '',
  HeadingClasses,
}: Props = Astro.props

const baseContainerClasses = 'w-full'
const mergedContainerClasses = twMerge(baseContainerClasses, ContainerClasses)

const baseTextClasses = 'prose font-merri items-center text-primary-content'
const mergedTextClasses = twMerge(baseTextClasses, TextClasses)

const baseHeadingClasses =
  'prose text-xl font-gokhan text-primary tracking-wider'
const mergedHeadingClasses = twMerge(baseHeadingClasses, HeadingClasses)

const { lostfound } = (await executeQuery(`query Homepage { 
    lostfound { 
           lfinfo
           lfimages {
            id
            url
            alt
      }} }`)) as {
  lostfound?: {
    lfinfo?: string
    lfimages?: Array<{
      id: string
      url: string
      alt?: string
    }>
  }
}

const lf_images = lostfound?.lfimages ?? []
const lf_conditions = marked.parse(lostfound?.lfinfo ?? '')
---

<div class={mergedContainerClasses}>
  <h1 class={mergedHeadingClasses}>Lost and Found</h1>
  <div class="flex flex-row items-center justify-between">
    <!-- The button to open modal -->
    <div class={mergedTextClasses}>
      Miss something? Have a look in the
      <a id="boxLink" class="no-underline cursor-pointer"> box</a>.
      <div class={mergedTextClasses + ' mt-3'} set:html={lf_conditions} />
    </div>
    <BoxIcon id="boxIcon" className="mb-2 w-9 md:w-12" />
  </div>
</div>

<Slider
  prefix="lf"
  triggerIDs={['boxLink', 'boxIcon']}
  images={lf_images}
  showCounter={true}
  arrowPosition="h-[80vh]"
/>
