---
import { marked } from 'marked'
import { twMerge } from 'tailwind-merge'
import { executeQuery } from '../lib/datocms.js'
import BoxIcon from './Icon_Box.astro'
import Slider from './SplideSlider.astro'

interface Props {
  ContainerClasses?: string
  TextClasses?: string
  HeadingClasses?: string
}

const {
  ContainerClasses = '',
  TextClasses = '',
  HeadingClasses,
}: Props = Astro.props

const baseContainerClasses = 'w-full'
const mergedContainerClasses = twMerge(baseContainerClasses, ContainerClasses)

const baseTextClasses = 'prose font-merri items-center base-content'
const mergedTextClasses = twMerge(baseTextClasses, TextClasses)

const baseHeadingClasses =
  'prose text-xl font-gokhan text-secondary-content tracking-wider'
const mergedHeadingClasses = twMerge(baseHeadingClasses, HeadingClasses)

const { home } = (await executeQuery(`query Homepage { 
    home { lfcond
           lfimages {
            id
            url
            alt
      }} }`)) as {
  home?: {
    lfcond?: string
    lfimages?: Array<{
      id: string
      url: string
      alt?: string
    }>
  }
}

const lf_images = home?.lfimages ?? []
const lf_conditions = marked.parse(home?.lfcond ?? '')
---

<div class="order-3">
  <h1 class={mergedHeadingClasses}>Lost and Found</h1>
  <div class="flex flex-row items-center gap-x-8 justify-between">
    <!-- The button to open modal -->
    <div class={mergedTextClasses}>
      Miss something? <br />
      Have a look in the
      <a
        id="boxLink"
        class="underline underline-offset-4 hover:no-underline cursor-pointer"
      >
        box</a
      >.
    </div>
      <BoxIcon id="boxIcon" className="mb-2 w-9 md:w-12" />
  </div>
  <div class={mergedTextClasses + ' mt-4'} set:html={lf_conditions} />
</div>

<Slider
  prefix="lf"
  triggerIDs={['boxLink', 'boxIcon']}
  images={lf_images}
  showCounter={true}
/>
