---
import { marked } from 'marked'
import { twMerge } from 'tailwind-merge'
import { executeQuery } from '../lib/datocms.js'

interface Props {
  ContainerClasses?: string
  TextClasses?: string
  HeadingClasses?: string
}

const {
  ContainerClasses = '',
  TextClasses = '',
  HeadingClasses,
}: Props = Astro.props

const baseContainerClasses = 'w-full'
const mergedContainerClasses = twMerge(baseContainerClasses, ContainerClasses)

const baseHeadingClasses = 'heading-base-styles'
const mergedHeadingClasses = twMerge(baseHeadingClasses, HeadingClasses)

const baseTextClasses = 'markdown-content'
const mergedTextClasses = twMerge(baseTextClasses, TextClasses)

const { news } = (await executeQuery(
  `query { news { newsheader, newstext } }`
)) as {
  news?: { newsheader?: string; newstext?: string }
}

// const newstext = news?.newstext ?? ''
const newstext = marked.parse(news?.newstext ?? '')
---

<div class={mergedContainerClasses}>
  <h1 class={mergedHeadingClasses}>{news?.newsheader}</h1>
  <div class={mergedTextClasses} set:html={newstext} />
</div>
